<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Node and PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>Node and PostgreSQL</h1>
    <table>
      <caption>
        Clothing inventory
      </caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item</th>
          <th>Style</th>
          <th>Size</th>
          <th>Color</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% for (var i=0; i < data.length; i++) { %>
          <td><%= data[i].id %></td>
          <td><%= data[i].item %></td>
          <td><%= data[i].style %></td>
          <td><%= data[i].size %></td>
          <td><%= data[i].color %></td>
          <td><%= data[i].quantity %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
